body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-style: bold;
    color:white;
}

img{
    position: static;
    overflow: visible;
    margin-top: -5em;
    padding: 1em;
    display: flex;
    width:10em;
    height: auto;
    border-radius: 50%;
}

.container{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 207, 207);
    color:black;
    border-radius: 1em;
}

.container p{
    margin: 0.2em;
}